<?xml version="1.0" encoding="utf-8" ?>
<odoo>

    <menuitem id="menu_hospital_root"
              name="HMS"
              web_icon="om_hospital,static/description/icon.png"
              sequence="35"
              />

    <menuitem id="menu_frontdesk"
              name="Front Desk"
              parent="menu_hospital_root"
              />

     <menuitem id="menu_billing"
              name="Billing"
              parent="menu_hospital_root"
              />

    <menuitem id="menu_patients"
              name="Patients"
              parent="menu_frontdesk"
              action="action_hospital_patient"
              />

    <menuitem id="menu_patients_readonly"
              name=" View Patients"
              parent="menu_frontdesk"
              action="action_hospital_readonly_patient"
              />

    <menuitem id="menu_appointment"
              name="Appointments"
              parent="menu_frontdesk"
              action="action_hospital_appointment"
              />

    <menuitem id="menu_appointment_line"
              name="Appointment Lines"
              parent="menu_frontdesk"
              action="action_hospital_appointment_line"
              />

     <menuitem id="menu_configuration"
              name="Configuration"
               sequence="100"
               groups="om_hospital.group_hospital_doctors"
              parent="menu_hospital_root"
              />

    <menuitem id="menu_patient_tag"
              name="Tags"
              parent="menu_configuration"
              action="action_patient_tag"
              />

    <menuitem id="menu_has_invoicing"
              name="Invoice"
              action="account.action_move_out_invoice_type"
              parent="menu_billing"
              />

    <menuitem id="menu_has_payment"
              name="Payment"
              action="account.action_account_payments"
              parent="menu_billing"
              />

    <menuitem id="menu_employee"
              name="Employee Management"
              parent="menu_hospital_root"
              />

    <menuitem id="menu_employee_details"
              name=" Employees"
              parent="menu_employee"
              action="action_hospital_employee"
              />

</odoo>